body {
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.btn {
  color: #fff;
  width: fit-content;
  padding: 10px 20px;
  /* font-weight: 600; */
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  #img__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  #logo {
    width: 45%;
  }
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
}
footer h1 {
  margin: auto;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li {
  margin: 0;
  padding: 10px 5px;
}
footer ul li i {
  margin-right: 10px;
}

#location {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #666666;
  margin-bottom: 0;
}
#location__icon {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #location__icon {
    margin-right: 20px;
  }
}
#location__text {
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  #location__text {
    font-size: 18px;
  }
}

#get-started {
  margin-top: 0;
  padding: 20px;
  background-color: #F5F5F5;
  text-align: center;
}
#get-started p {
  color: #4d4d4d;
}
#get-started a {
  text-decoration: none;
}
#get-started__btn {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.how-to {
  padding: 40px 20px;
}
.how-to__cards-display {
  display: flex;
  flex-direction: column;
}
.how-to__card {
  display: flex;
  margin: 10px 0;
}
.how-to__step-tag {
  background-color: #9356DC;
  color: #fff;
  padding: 5px;
  width: 18px;
  height: 18px;
  margin-right: -10px;
  margin-top: 20px;
  z-index: 1;
  border-radius: 100%;
  text-align: center;
}
.how-to__step {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 30px;
  padding-right: 30px; */
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
}
.how-to__step--light {
  background-color: #f2eafb;
}
.how-to__step-icon {
  color: #666666;
  padding: 0px;
}
.how-to__step-icon--light {
  color: #9356DC;
}
.how-to__step-text {
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
}

#restaurants {
  background-color: #F5F5F5;
  padding-bottom: 20px;
}
#restaurants h2 {
  padding-top: 50px;
  margin-left: 20px;
}

.card {
  border-radius: 20px;
  margin: 20px auto;
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.card__text {
  margin: 10px;
}
.card__text h3 {
  margin: 0;
}
.card__text p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.card__icon {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 30px;
  /**.fa-solid et .fa-regular sont les enfants directs de .card__icon**/
  /**.fa-solid est l'enfant direct de .card__icon**/
}
.card__icon:hover .fa-solid {
  opacity: 1;
}
.card__icon:hover .fa-regular {
  opacity: 0;
}
.card__icon > .fa-solid, .card__icon .fa-regular {
  position: absolute;
  right: 10%;
  transform: translateY(-50%);
  transition: opacity, 500ms;
}
.card__icon > .fa-solid {
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
