body {
  margin: auto;
  max-width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes appear {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btn {
  color: #fff;
  width: fit-content;
  padding: 10px 20px;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn--order {
  padding: 20px 60px;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
}

.icon__heart--empty, .icon__heart--full {
  position: relative;
  right: 10%;
  transition: all 0.5s ease-out;
}
.icon__heart--full {
  right: 60%;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.icon__heart--full:hover {
  opacity: 1;
}
.icon__heart--empty:hover {
  opacity: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: uncover 3.5s both;
}

.dot {
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}
.dot--1 {
  background-color: #9356DC;
}
.dot--2 {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}
.dot--3 {
  background-color: #99E2D0;
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 20px;
    height: 20px;
    transform: translate3d(0, -16px, 0);
  }
}
@keyframes uncover {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.8;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  display: flex;
  justify-content: center;
}

.header__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.header__arrow {
  position: absolute;
  left: 10px;
  top: -8px;
  width: 50px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.logo {
  width: 50%;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer h1 {
  margin: auto;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li {
  margin: 0;
  padding: 10px 5px;
}
footer ul li i {
  margin-right: 10px;
}

#location {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #666666;
  margin-bottom: 0;
}
#location__icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
#location__text {
  font-weight: 600;
  font-size: 18px;
}

#get-started {
  margin-top: 0;
  padding: 20px;
  background-color: #F5F5F5;
  text-align: center;
}
#get-started p {
  color: #4d4d4d;
}
#get-started a {
  text-decoration: none;
}
#get-started__btn {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.how-to {
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .how-to h2 {
    text-align: center;
  }
}
.how-to__cards-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.how-to__card {
  display: flex;
  margin: 10px 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .how-to__card {
    width: 70%;
  }
}
.how-to__step-tag {
  background-color: #9356DC;
  color: #fff;
  padding: 5px;
  width: 18px;
  height: 18px;
  margin-right: -10px;
  margin-top: 20px;
  z-index: 1;
  border-radius: 100%;
  text-align: center;
}
.how-to__step {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
}
.how-to__step--light {
  background-color: #f2eafb;
}
.how-to__step-icon {
  color: #666666;
  padding: 0px;
}
.how-to__step-icon--light {
  color: #9356DC;
}
.how-to__step-text {
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
}

#restaurants {
  background-color: #F5F5F5;
  padding-bottom: 20px;
}
#restaurants h2 {
  padding-top: 50px;
  margin-left: 20px;
}

.card {
  border-radius: 20px;
  margin: 20px auto;
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 992px) {
  .card {
    width: 45%;
  }
}
.card__display {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .card__display {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.card__tag-new {
  width: fit-content;
  display: inline;
  position: relative;
  top: 75px;
  left: 70%;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 700;
  padding: 10px;
  border-radius: 2px;
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (min-width: 768px) {
  .card__img {
    height: 300px;
  }
}
.card__container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.card__text {
  margin: 10px;
}
.card__text h3 {
  margin: 0;
}
.card__text p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.card__icon {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 30px;
}

.restaurant-cover img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  position: relative;
  bottom: 60px;
  background-color: #F5F5F5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__main {
  background-color: #F5F5F5;
}
.menu__display {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
  .menu__display {
    justify-content: space-evenly;
  }
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
}
.menu__title h1 {
  margin-left: 10px;
}
.menu__icon {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 30px;
}
.menu__meals {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .menu__meals {
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .menu__meals {
    width: 30%;
  }
}
.menu__meals h3 {
  margin-left: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 12%;
  padding-bottom: 5px;
}
.menu-card {
  width: 90%;
  display: flex;
  /* justify-content: space-between; */
  background-color: #fff;
  margin: 5px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  animation: appear 1s both ease;
}
.menu-card__description {
  display: flex;
}
.menu-card__text {
  padding: 10px;
  width: 81%;
  overflow: hidden;
}
.menu-card__text h4, .menu-card__text p {
  margin: 0;
  padding: 3px 0;
}
.menu-card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menu-card__price h4 {
  margin: 0;
}
.menu-card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #99E2D0;
  color: #fff;
  margin-right: -25%;
  transition: margin-right 0.5s ease-in-out;
  cursor: pointer;
}
.menu__btn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.menu-card:hover .menu-card__check {
  margin-right: 0;
}

.appear--1 {
  animation-delay: 0.2s;
}
.appear--2 {
  animation-delay: 0.4s;
}
.appear--3 {
  animation-delay: 0.6s;
}

/*# sourceMappingURL=style.css.map */
