.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: uncover 3.5s both;
} 

.dot {
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0, 0, 0);
    animation: bounce 0.6s infinite alternate;
    &--1 {
        background-color: $color-primary;
    }
    &--2 {
        background-color: $color-secondary;
        animation-delay: 0.2s;
    }
    &--3 {
        background-color: $color-tertiary;
        animation-delay: 0.4s;
    }
}

@keyframes bounce {
    to {
        width: 20px;
        height: 20px;
        transform: translate3d(0, -16px, 0);
    }
}

@keyframes uncover {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0.8;
    }
    99% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}