$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-white: #fff;
$color-grey: #F5F5F5;
$color-darkgrey: lighten(black, 40%);

$box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
