header {
    display: flex;
    justify-content: center;
}

#img__header {
    @include mobile-only {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

#logo {
    @include mobile-only {
        width: 45%;
    }
}